
.main-div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

@font-face {
  font-family: 'vegan_style_personal_useRg';
  src: url('fonts/veganstylepersonaluse-5y58-webfont.woff2') format('woff2'),
    url('fonts/veganstylepersonaluse-5y58-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

a {
  color: whitesmoke;
  text-decoration: none;

}

a:hover {
  color: #1DB954;
  text-decoration: none;
}

#titleLink a:hover {
  color: whitesmoke;
  text-decoration: none;

}

.list-group-item {
  background-color: transparent;
  border-radius: 2rem 2rem 0rem 0rem;
  min-height: 0vmin;
  min-width: 80vmin;
  font-size: 20px;

}


.songList {
  border-radius: 2rem 2rem 0rem 0rem;
  margin-top: 40px;
  border: solid;
  border-color: whitesmoke;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  -webkit-mask-image: linear-gradient(to bottom, black 96%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 96%, transparent 100%);
  overflow-y: scroll;

}

.form-rounded {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  border-radius: 2rem;
  min-height: 8vmin;
  min-width: 80vmin;
}

.submitBtn {
  background-color: #1DB954;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  
  border-radius: 2rem;
  min-width: 16vmin;
  font-size: 20px;

}

.spotifyButton {
  margin: 10px;
  padding: 10px;
  display: inline-block;
  background-color: #1DB954;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.39), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
  margin-top: 10px;
  border-radius: 2rem;
  min-width: 16vmin;
  font-size: 20px;

}

.title {
  color: whitesmoke;
  font-family: vegan_style_personal_useRg;
  font-size: calc(10px + 15vmin);
  text-shadow: 2px 2px 4px #000000;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.spinner {
  position: fixed;
  bottom: 38%;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 10px;

}

.spinner>div {
  width: 7px;
  margin: 0 3px 0 0;
  background-color: rgb(218, 216, 216);
  height: 100%;
  width: 10px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    -webkit-transform: scaleY(0.4)
  }

  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {

  0%,
  40%,
  100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.footer {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);

}

.tech {
  margin-top: -80px;
}

.music {
  top: 70%;
  border: solid;
  border-color: whitesmoke;
  position: relative;
  display: block;
  width: 38%;
  height: 40%;
  left: 31%;
  bottom: 150px;
 
}


body .ui-autocomplete{
  background: transparent !important; 
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  border-radius: 2rem;
  min-width: 80vmin;
  max-width: 80vmin;
  
}

.ui-menu-item{
  background: transparent !important;
  text-align: center;
  padding: 8px !important;
  color: white;
  font-size: 17px;

}

.ui-menu-item-wrapper.ui-state-active {
  background: transparent !important;
  text-align: center;
  color: white;
  border-radius: 2rem;
  border: solid;
  border-color: #1DB954;
} 

#js-rotating {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}


.signOutBtn{
  position: absolute;
  top: 5%;
  right: 2%;
  border-radius: 2rem;
}